grafana:
  adminUser: admin
  adminPassword: admin123         # ❗ troque em produção (ou use Secret)
  service:
    type: ClusterIP
  ingress:
    enabled: false                # habilite se tiver Ingress + DNS
    ingressClassName: nginx
    hosts: [ grafana.local ]
    path: /
    pathType: Prefix
  defaultDashboardsEnabled: true

prometheus:
  prometheusSpec:
    scrapeInterval: 15s
    evaluationInterval: 15s
    retention: 7d
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false

alertmanager:
  alertmanagerSpec:
    replicas: 1

kubeEtcd:
  enabled: false
kubeControllerManager:
  enabled: true
kubeScheduler:
  enabled: true
